body{
	background-color:#000000;
	color:#FFFFFF;
}

.readonly{
    background-color:#C0C0C0;
}

div{
	font-family:"Courier New", Courier, monospace,arial;
}
#geral{
	width:auto;
	margin:auto;
}
#cabecalho{
	height:132px;
	background-image:url(../img/header.jpg);
}
#menu_superior{
	background-color:#33CCFF;
	height:25px;
	color:#FFFFFF;
}

#menu_superior a{
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
}
#menu_superior a:hover{
	text-decoration:underline;
	color:#FFFF00;
}

#conteudo{
	height:260px;
	background-color:#000000;
	color:#FFFFFF;
	text-align:justify;
	overflow:auto;
}
#rodape::before{
	position: absolute;   /* posição absoluta */
	bottom: 0;   /* Fixa a div no fim da página */
	width: 100%;   /* Largura estende por toda página da div */
	height: 200px;   /* Altura da div */
	height:15px;
	font-size:12px;
	text-align:center;
	background-color:#3399FF;
	color:#FFFFFF;
	content: "Sistema Desenvolvido por Matheus Silva";
}
#menu_lateralold{
	float:left;
	height:260px;
	background-color:#3399FF;
	width:150px;
}
#texto{
	/*float:right;*/
	width:auto;
	height:260px;
	color:#FFFFFF;
	background-color:#000000;
	text-align:justify;
}
.miniatura{
	width:150px;
	height:150px;
}

.cada_jogo{
	float:left;
	margin-left:10px;
}
.normal{
	width:250px;
	height:350px;
}
#capa{
	float:left;
	margin-right:10px;
}
.destaque{
	font-weight:bold;
}


